@import "src/styles/colors";
@import "src/styles/variables";

.button{
  width: fit-content;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: 2px solid $accent-color;
  transition: background-color $default-transition all-ease;

  &:hover{
    background-color: $accent-color;
    transition: background-color $default-transition all-ease;
  }

  &--primary{
    @extend .button;
    padding: 12px 28px;
    border-radius: 30px;
  }

  &--secondary{
    @extend .button;
    padding: 24px 40px;
    border-radius: 50px;
  }
}