//simple colors
$white: #fff;
$black: #000;

//project colors
$background-color: #f5f5f5;
$primary-color: #2F8FF9;
$accent-color: #6646a9;
$additional-color: $white;

//fonts-colors
$primary-text-color: $black;
$accent-text-color: $accent-color;
$additional-text-color: $background-color;
