//simple colors
$white: #fff;
$black: #000;

//project colors
$background-color: $black;
$primary-color: #E8129F;
$secondary-color: #1511EC;
$accent-color: #ead61e;
$additional-color: $white;

//fonts-colors
$primary-text-color: $black;
$secondary-text-color: $white;
$accent-text-color: $accent-color;

