@import "drop";
@import "colors";
@import "variables";
@import "global";
@import "breakpoints";
@import "fonts";

.main {
  height: 100%;
}

%primary-font{
  font-family: Cirle;
  line-height: 120%;

}
%primary-font-bold{
  font-family: "Cirle bold";
  line-height: 120%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

%secondary-font{
  font-family: Angry;
}

.title-1 {
  @extend %secondary-font;
  color: $primary-text-color;
  line-height: 100%;
  font-size: 80px;

  @include bp-laptop-XL-equal-or-less{
    line-height: 60px;
    font-size: 61px;
  }

  @include bp-laptop-L-equal-or-less{
    line-height: 50px;
    font-size: 50px;
  }
}

.title-2{
  @extend %secondary-font;
  line-height: 140%;
  font-size: 70px;

  @include bp-laptop-XL-equal-or-less{
    font-size: 50px;
  }

  &--primary{
    @extend .title-2;
    color: $primary-text-color;
  }

  &--secondary{
    @extend .title-2;
    color: $secondary-text-color;
  }
}

.title-3{
  @extend %secondary-font;
  line-height: 140%;
  font-size: 40px;

  &--primary{
    @extend .title-3;
    color: $primary-text-color;
  }

  &--secondary{
    @extend .title-3;
    color: $secondary-text-color;
  }
}

.body-1{
  @extend %primary-font;
  font-size: 35px;

  @include bp-laptop-XL-equal-or-less{
    font-size: 26px;
  }

  &--primary{
    @extend .body-1;
    color: $primary-text-color;
  }

  &--secondary{
    @extend .body-1;
    color: $secondary-text-color;
  }
}

.body-2{
  @extend %primary-font-bold;
  color: $secondary-text-color;
  font-size: 14px;
}

.link, .link:visited {
  @extend %primary-font;
  cursor: pointer;
  font-size: 20px;
  color: $secondary-text-color;
  transition: $default-transition;

  &:hover {
    color: $accent-text-color;
    transition: $default-transition;
  }
}

.button-text{
  @extend %primary-font;
  cursor: pointer;
  font-size: 20px;
  color: $accent-text-color;
  transition: $default-transition;

  &:hover {
    color: $primary-text-color;
    transition: $default-transition;
  }

  &--bold{
    @extend %primary-font-bold;
    cursor: pointer;
    font-size: 20px;
    color: $primary-text-color;
  }
}


