@import "src/styles/mixins";
@import "src/styles/colors";
@import "src/styles/fonts";

.horizontal-split-container {
  display: flex;
  height: 600px;
}

.left-panel {
  flex: 0.7;
  background-color: #fff;
}
.map {
  width: 100%;
  height: 100%;
}
.right-panel {
  @include flex-column(30px);
  flex: 0.3;
   padding: 60px;
  background-color: #fff;

  .image {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 5px solid #fff;;
  }
  .title-img-container {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    .name-address {
      display: flex;
      flex-direction: column;
    }
  }
  .text_cell_ {
    margin:10px 0 0 0;
    }
}

.company-name{
  color: $primary-text-color;
  font-family: Cirle;
  font-size: 26px;
  font-weight: 700;
  line-height: 140%;
}

.light-text{
  color: #9B9B9B;
  font-family: Cirle;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%
}